{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-services-single{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}
{{ partial "hero-image-setheight.html" (dict "background" .Params.heroBackground "heading" .Params.heroHeading "subheading" .Params.heroSubHeading "section" .Section "content" .)}}
<div class="container pt-4 pt-md-10 pb-4 pb-md-10">
  <div class="row justify-content-start">
    <div class="col-12 col-md-8">
      <div class="service service-single">
        <div class="content">{{.Content}}</div>
      </div>
    </div>
  </div>
</div>

{{ if eq .Params.title "Technical consulting" }}
  {{ $technologies := where (where .Site.RegularPages "Type" "technologies") ".Params.featured" true }}
  {{if gt (len $technologies) 0}}
    <div class="container pt-8 pb-8 pb-md-14 pt-md-14">
      <div class="row justify-content-start">
        <div class="col-12">
          <h2 class="text-center mb-3">Our technologies</h2>
        </div>
        {{ range first 6 (sort $technologies ".Params.weight") }}
        <div class="col-12 col-md-4 mb-1">
          {{ .Render "summarytech" }}
        </div>
        {{ end }}
      </div>
    </div>
    {{ end }}
  {{ end }}
{{ end }}

{{ define "footer_js" }}
{{ $library := resources.Get "js/libs/library.js" }}
{{ $services := resources.Get "js/pages/services.js" }}
{{ $servicesJS := slice $library $services |resources.Concat "js/services.js" }}
{{ if .Site.IsServer }}
  <script type="text/javascript" src="{{ $servicesJS.RelPermalink }}"></script>
  {{ else }}
  <script type="text/javascript" src="{{ ($servicesJS | minify | fingerprint).RelPermalink }}"></script>
  {{ end }}
{{ end }}