{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-contact{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}
<div class="intro intro-small">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>{{ .Title }}</h1>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12 col-md-8">
      {{ .Content }}
      <ul>
        {{ if .Site.Data.contact.email }}
        <li><strong>Email: </strong><a href="mailto:{{ .Site.Data.contact.email }}">
            {{ .Site.Data.contact.email }}</a></li>
        {{ end }}
        {{ if .Site.Data.contact.address }}
        <li style="white-space: pre-wrap;"><strong>Address: </strong><br>{{ .Site.Data.contact.address }}</li>
        {{ end }}
      </ul>
      {{ if .Site.Data.contact.hours }}
      {{ end }}
    </div>
  </div>
  <br>
  <div class="row">
    <h3>Contact us:</h3>
  </div>
  <div class="row">
    <form action="https://getform.io/f/c3f8f0c9-8b6f-4da5-9947-4b198b49c654" method="POST">
      <div class="form-group">
        <label for="name mr-sm-2"> Your name:</label>
        <input class="form-control mb-2 mr-sm-2" type="text" name="name" id="name">
      </div>
      <div class="form-group">
        <label for="email mr-sm-2">E-Mail:</label>
        <input class="form-control mb-2 mr-sm-2" type="email" name="email" id="email">
      </div>
      <button class="btn btn-secondary" type="submit">Send</button>
    </form>
  </div>
</div>
{{ end }}